#intro{
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%; 
	background-image: url(laraback2.gif);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 20px;
}

#intro1{
	grid-column-start: 1;
	grid-column-end: 2;
	font-family: 'Belleza', sans-serif;
	font-size: 25px;
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color:#86003C;

}

.styled:hover {
    background-color: #F62551;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#intro2 > p{
	text-align: left;
}

#intro2{
	width: 500px;
	height: 500px;
	grid-column-start: 2;
	grid-column-end: 3; 
	margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.cover1{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	object-fit: cover;
}