#services{
	width: 100%;
	height: 845px;
	font-size:30px;
	position: relative;
	color: #fa82a7;
	background: url(blackback.gif);
	background-position: top right;
}

#services1{
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 60px;
	padding-bottom: 50px;
}

#services1 > p{
	padding-right: 250px;
} 


#maketype{
	position: absolute;
	background-color: #ffd5db;
	top: 440px;
	left: 80px;
	right: 80px;
}

ul.maketype1{
	display: flex;
	flex: 4;
	margin: 30px;
	padding: 0px;
	align-items: center;
	justify-content: space-around;
}

 li.maketype2 {
	margin:20px;
	list-style-type: none;
	background-color: black;
	width: 420px;
	height: 420px;  
}

.inmake1{
	display: grid;
	grid-template-rows: 80% 20%;
}

.inmake2{
	display: grid;
	grid-template-rows: 80% 20%;
}

.inmake3{
	display: grid;
	grid-template-rows: 80% 20%;
}

.inmake4{
	display: grid;
	grid-template-rows: 80% 20%;
}

.inmake11{
	grid-row-start: 1;
    grid-row-end: 2;
}

.inmake12{
	grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    justify-self: center;
    align-self: center;
}
.inmake11 > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inmake21{
	grid-row-start: 1;
    grid-row-end: 2;
}
.inmake22{
	grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    justify-self: center;
    align-self: center;
}

.inmake21 > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inmake31{
	grid-row-start: 1;
    grid-row-end: 2;
}
.inmake32{
	grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    justify-self: center;
    align-self: center;
}

.inmake31 > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inmake41{
	grid-row-start: 1;
    grid-row-end: 2;
}
.inmake42{
	grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    justify-self: center;
    align-self: center;
}

.inmake41 > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
