#portfolio{
	display: flex;
	width: 100%;
	height: 3010px;
	font-size:30px;
	color: #ff0060;
	background-color: #dbacdd;
	background-size: cover;
	padding-top: 150px;
}

#portfolio > h1,h2{
	text-align: center;
}

.line{
	flex: 20%;
	max-width: 20%;
	padding: 0 5px;
}

.line img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}