#pricing{
	width: 100%;
	font-size:30px;
	color: #ff0060;
	background-color: #ffd5db;
	background-size: cover;
	display: grid;
	grid-template-rows: 350px 750px;

}

#pricing1> h1{
	font-family: 'Eagle Lake', cursive;
	text-align: center;
}

#pricing1> h2{
	font-family: 'Overpass', sans-serif;
	text-align: center;
}

#pricing1> p{
	font-family: 'Overpass', sans-serif;
	text-align: center;
}

#pricing1{
	grid-row-start: 1;
	grid-row-end: 2;
}

#pricing2{
	grid-row-start: 2;
	grid-row-end: 3;	
	display: grid;
	grid-template-rows: 40px 50px auto 50px 40px; 
	grid-template-columns: 40px 50px auto 50px 40px; 
}

#pricing21{
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

#pricing21 > li{
	list-style-type: none;
	font-family: 'Overpass', sans-serif;
}

#pricing211{
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: center;
	background-color: white;
	margin: 25px;
	text-align: center;
	border: 15px solid black;
}

#pricing211 > p{
	font-size: 24px;
}

#pricing211 > h1{
	color: black;
}

#pricing212{
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: white;
	margin: 25px;
	text-align: center;
	border: 15px solid black;
}

#pricing212 > p{
	font-size: 24px;
}

#pricing212 > h1{
	color: black;
}

#pricing213{
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: center;
	background-color: white;
	margin: 25px;
	text-align: center;
	border: 15px solid black;
}

#pricing213 > p{
	font-size: 24px;
}

#pricing213 > h1{
	color: black;
}

.pricing2111{
	color: #A8A8A8;
}
