

@media only screen and (min-width: 1200px) {
	#pricing{
		width: 100%;
		font-size:30px;
		color: #ff0060;
		background-color: black;
		background-size: cover;
		display: grid;
		grid-template-rows: 350px 750px;
		position: relative;
	}

	#pricing::before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(6,3,255,1) 0%, rgba(11,106,255,1) 24%, rgba(20,182,254,1) 58%, rgba(45,252,253,1) 100%);
		clip-path: circle(17% at 10% 50%); 
	}

	#pricing::after{
		content: 'I am after';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(51deg, rgba(255,3,62,1) 0%, rgba(253,45,151,1) 100%);
		clip-path: circle(10% at 90% 85%); 
	}

	#pricing1> h1{
		font-family: 'Eagle Lake', cursive;
		text-align: center;
	}

	#pricing1> h2{
		font-family: 'Overpass', sans-serif;
		text-align: center;
	}

	#pricing1> p{
		font-family: 'Overpass', sans-serif;
		text-align: center;
	}

	#pricing1{
		grid-row-start: 1;
		grid-row-end: 2;
	}

	#pricing2{
		grid-row-start: 2;
		grid-row-end: 3;	
		display: grid;
		grid-template-rows: 40px 50px auto 50px 40px; 
		grid-template-columns: 40px 50px auto 50px 40px; 
	}


	#pricing21{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 5;
		margin: 0px;
		padding: 0px;
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
	}

	#pricing21 > li{
		list-style-type: none;
		font-family: 'Overpass', sans-serif;
	}

	#pricing211{
		grid-column-start: 1;
		grid-column-end: 2;
		justify-self: center;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
		transform-style: preserve-3d;

	}

	#pricing211 > p{
		font-size: 24px;
	}

	#pricing211 > h1{
		color: white;
	}

	#pricing212{
		grid-column-start: 2;
		grid-column-end: 3;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
	}

	#pricing212 > p{
		font-size: 24px;
	}

	#pricing212 > h1{
		color: white;
	}

	#pricing213{
		grid-column-start: 3;
		grid-column-end: 4;
		justify-self: center;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
	}

	#pricing213 > p{
		font-size: 24px;
	}

	#pricing213 > h1{
		color: white;
	}

	.pricing2111{
		color: #A8A8A8;
	}
}

@media only screen and (max-width: 1200px) {
	#pricing{
		width: 100%;
		font-size:30px;
		color: #ff0060;
		background-color: black;
		background-size: cover;
		display: grid;
		grid-template-rows: 350px 750px;
		position: relative;
	}

	#pricing::before{
		content: 'I am Before';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(6,3,255,1) 0%, rgba(11,106,255,1) 24%, rgba(20,182,254,1) 58%, rgba(45,252,253,1) 100%);
		clip-path: circle(17% at 10% 50%); 
	}

	#pricing::after{
		content: 'I am after';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(51deg, rgba(255,3,62,1) 0%, rgba(253,45,151,1) 100%);
		clip-path: circle(10% at 90% 85%); 
	}

	#pricing1> h1{
		font-family: 'Eagle Lake', cursive;
		text-align: center;
	}

	#pricing1> h2{
		font-family: 'Overpass', sans-serif;
		text-align: center;
	}

	#pricing1> p{
		font-family: 'Overpass', sans-serif;
		text-align: center;
	}

	#pricing1{
		grid-row-start: 1;
		grid-row-end: 2;
	}

	#pricing2{
		grid-row-start: 2;
		grid-row-end: 3;	
		display: grid;
		grid-template-rows: 40px 50px auto 50px 40px; 
		grid-template-columns: 40px 50px auto 50px 40px; 
	}


	#pricing21{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 5;
		margin: 0px;
		padding: 0px;
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
	}

	#pricing21 > li{
		list-style-type: none;
		font-family: 'Overpass', sans-serif;
	}

	#pricing211{
		grid-column-start: 1;
		grid-column-end: 2;
		justify-self: center;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
		transform-style: preserve-3d;

	}

	#pricing211 > p{
		font-size: 24px;
	}

	#pricing211 > h1{
		color: white;
	}

	#pricing212{
		grid-column-start: 2;
		grid-column-end: 3;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
	}

	#pricing212 > p{
		font-size: 24px;
	}

	#pricing212 > h1{
		color: white;
	}

	#pricing213{
		grid-column-start: 3;
		grid-column-end: 4;
		justify-self: center;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: rgba(225, 225, 225, 0.1);
		margin: 25px;
		text-align: center;
		border-top: 1px solid rgba(225, 255, 255, 0.5);
		border-left: 1px solid rgba(225, 255, 255, 0.5);
		border-radius: 15px; 
		backdrop-filter: blur(5px);
		z-index: 1;
	}

	#pricing213 > p{
		font-size: 24px;
	}

	#pricing213 > h1{
		color: white;
	}

	.pricing2111{
		color: #A8A8A8;
	}
}


@media only screen and (max-width: 992px) {	
	#pricing1{
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#pricing2{
		grid-template-columns: 20px 50px auto 50px 20px;
	}
	#pricing21{
		grid-template-columns: 15% 70% 15%;
	}
	#pricing211{
		grid-column-start: 1;
		grid-column-end: 4;
		width: 600px;

	}
	#pricing212{
		display: none;
	}
	#pricing213{
		display: none;
	}
}


@media only screen and (max-width: 768px) {
	#pricing1{
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#pricing2{
		grid-template-columns: 20px 50px auto 50px 20px;
	}
	#pricing211{
		grid-column-start: 1;
		grid-column-end: 4;
		width: 490px;
	}
	#pricing212{
		display: none;
	}
	#pricing213{
		display: none;
	}
}


@media only screen and (max-width: 600px) {
	#pricing1{
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#pricing2{
		grid-template-columns: 20px 50px auto 50px 20px;
	}
	#pricing211{
		grid-column-start: 1;
		grid-column-end: 4;
		width: 350px;
	}
	#pricing212{
		display: none;
	}
	#pricing213{
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	#pricing1{
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#pricing2{
		grid-template-columns: 20px 50px auto 50px 20px;
	}
	#pricing211{
		grid-column-start: 1;
		grid-column-end: 4;
		width: 270px;
	}
	#pricing212{
		display: none;
	}
	#pricing213{
		display: none;
	}

}