
@media only screen and (min-width: 1200px) {
	#footer{
		width: 100%;
		background-color: black; 
		color: white;
		height: 400px;
		padding-top: 50px;
	}



	#footer1{
		display: flex;
		justify-content: center;
	}


	#footer2{
		display: grid;
		grid-template-columns: 50% 50%;
		font-size: 20px;
		font-family: 'Overpass', sans-serif;
	}

	#links{
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;

	}

	#links1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
	    grid-row-end: 2;
	    justify-self: center;
	    
	}

	#links2{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    width: 75%;
	}

	#links2{
	    list-style-type: none;
	    display: grid;
	    grid-template-columns: 20% 20% 20% 20% 20%;
	    padding: 0px;
	}

	#item-a{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-a > p{
		position: absolute;
		top: -5px;
		left: -1px;
		transform: translateZ(20px);

	}

	#item-b{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-b > p{
		position: absolute;
		top: -5px;
		left: -12px;
		transform: translateZ(20px);
	}

	#item-c{
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-c > p{
		position: absolute;
		top: -5px;
		left: 6px;
		transform: translateZ(20px);
	}

	#item-d{
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;

	}

	#item-d > p{
		position: absolute;
		top: -5px;
		left: -15px;
		transform: translateZ(20px);
	}

	#item-e{
		grid-column-start: 5;
		grid-column-end: 6;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-e > p{
		position: absolute;
		top: -6px;
	    left: -11px;
	    transform: translateZ(20px);
	}

	#social{
		grid-column-start: 2;
		grid-column-end: 3;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}

	#social1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
	    grid-row-end: 2;
	    justify-self: center;
	}

	#social2{
		width: 50%;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    align-self: center;
	    display: grid;
	    grid-template-columns: 33.33% 33.33% 33.33%;
	}

	#item-1{
		position: relative;
		grid-column-start: 1;
		grid-column-end: 2;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#item-2{
		position: relative;
		grid-column-start: 2;
		grid-column-end: 3;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#item-3{
		position: relative;
		grid-column-start: 3;
		grid-column-end: 4;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#svg1{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -5px;
		left: -6px;
		transform: translateZ(20px);
	}
	#svg2{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -7px;
	    left: -6.5px;
	    transform: translateZ(20px);
	}

	#svg3{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -8px;
	    left: -6px;
	    transform: translateZ(20px);
	}
}

@media only screen and (max-width: 1200px) {
	#footer{
		width: 100%;
		background-color: black; 
		color: white;
		height: 400px;
		padding-top: 50px;
	}



	#footer1{
		display: flex;
		justify-content: center;
	}


	#footer2{
		display: grid;
		grid-template-columns: 50% 50%;
		font-size: 20px;
		font-family: 'Overpass', sans-serif;
	}

	#links{
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;

	}

	#links1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
	    grid-row-end: 2;
	    justify-self: center;
	    
	}

	#links2{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    width: 75%;
	}

	#links2{
	    list-style-type: none;
	    display: grid;
	    grid-template-columns: 20% 20% 20% 20% 20%;
	    padding: 0px;
	}

	#item-a{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-a > p{
		position: absolute;
		top: -5px;
		left: -1px;
		transform: translateZ(20px);

	}

	#item-b{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-b > p{
		position: absolute;
		top: -5px;
		left: -12px;
		transform: translateZ(20px);
	}

	#item-c{
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-c > p{
		position: absolute;
		top: -5px;
		left: 6px;
		transform: translateZ(20px);
	}

	#item-d{
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;

	}

	#item-d > p{
		position: absolute;
		top: -5px;
		left: -15px;
		transform: translateZ(20px);
	}

	#item-e{
		grid-column-start: 5;
		grid-column-end: 6;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    position: relative;
	    transform-style: preserve-3d;
	}

	#item-e > p{
		position: absolute;
		top: -6px;
	    left: -11px;
	    transform: translateZ(20px);
	}

	#social{
		grid-column-start: 2;
		grid-column-end: 3;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}

	#social1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
	    grid-row-end: 2;
	    justify-self: center;
	}

	#social2{
		width: 50%;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	    grid-row-end: 3;
	    justify-self: center;
	    align-self: center;
	    display: grid;
	    grid-template-columns: 33.33% 33.33% 33.33%;
	}

	#item-1{
		position: relative;
		grid-column-start: 1;
		grid-column-end: 2;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#item-2{
		position: relative;
		grid-column-start: 2;
		grid-column-end: 3;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#item-3{
		position: relative;
		grid-column-start: 3;
		grid-column-end: 4;
	    justify-self: center;
	    align-self: center;
	    background-color: #282828;
	    width:50px;
	    height: 50px;
	    border-radius: 50%;
	    transform-style: preserve-3d;
	}

	#svg1{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -5px;
		left: -6px;
		transform: translateZ(20px);
	}
	#svg2{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -7px;
	    left: -6.5px;
	    transform: translateZ(20px);
	}

	#svg3{
		fill: white;
		margin: 20px;
		position: absolute;
		top: -8px;
	    left: -6px;
	    transform: translateZ(20px);
	}
}


@media only screen and (max-width: 992px) {
	#footer2{
		grid-template-columns: 100%
	}
	#links{
		display:  none;
	}
	#social{
		grid-column-start: 1;
		grid-column-end: 2;
	}
}


@media only screen and (max-width: 768px) {...}


@media only screen and (max-width: 600px) {...}

@media only screen and (max-width: 450px) {}