@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import "./1intro.css";
@import "./2services.css";
@import "./3portfolio.css";
@import "./4testimonials.css";
@import "./5pricing.css";
@import "./6brands.css";
@import "./7footer.css";
@import "./8header.css";


:root {
  --mainColor: #fa82a7;
}


html{
	width: 100%;
}

body {
	width: 100%;
	margin: 0px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color:#86003C;

}

.styled:hover {
    background-color: #F62551;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}