

@media only screen and (min-width: 1200px) {
	#services{
		width: 100%;
		height: 100%;
		font-size:25px;
		color: #fa82a7;
		background-color: black; 
		box-sizing: border-box;
		border: 0.1px solid transparent;
	    position: relative;
	}

	#services1{
		margin: 35px;
		display: grid;
		grid-template-columns: 80% 20%;

	}

	#services1 > h1{
		margin: 0px;
	}

	#services11{
		grid-column-start: 1;
	    grid-column-end: 2;
	    padding: 50px;
	}

	#services11 > h1{
		font-size: 50px;
		color: white;
	}

	#services11 > p{
		font-size: 30px;
		color: #fc3468;
	}

	#services12{
		grid-column-start: 2;
	    grid-column-end: 3;
	    padding: 20px;
	    padding-top: 60px;
	}

	#Layer_1{
		fill: #fc3468;
	}

	li.maketype11{
		list-style-type: none;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 35px;
		display: flex;
		flex: 5;
		background-color: pink; 
		border-radius: 160px; 
		justify-content: space-between;
		position: relative;
	}

	.maketype111, .maketype211, .maketype311, .maketype411{
		width: 320px;
		height: 320px;
		border-radius: 50%;
		overflow: hidden;
		border: 10px solid #fc3468;
		z-index: 4;
	}

	.maketype112, .maketype212, .maketype312, .maketype412{
		
		height: 300px;
		font-size: 20px;
		color: black;

	}

	.makephoto{
		height: 100%;
	    width: 100%;  
		object-fit: cover;

	}

	.maketype11 > p{
		color: white;
	}

	.maketype113, .maketype213, .maketype313, .maketype413{
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 3;

	}

	.maketype114, .maketype214, .maketype314, .maketype414 {
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 2;
	}

	.maketype115,.maketype215, .maketype315, .maketype415 {
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 1;
	}


	.Drag1{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag1 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag1 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag1 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag1 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag1 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag2{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag2 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag2 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag2 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag2 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag2 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag3{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag3 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag3 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag3 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag3 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag3 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag4{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag4 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag4 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag4 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag4 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag4 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	#services{
		width: 100%;
		height: 100%;
		font-size:25px;
		color: #fa82a7;
		background-color: black; 
		box-sizing: border-box;
		border: 0.1px solid transparent;
	    position: relative;
	}

	#services1{
		margin: 35px;
		display: grid;
		grid-template-columns: 80% 20%;
		grid-template-rows: 100%;
	}

	#services1 > h1{
		margin: 0px;
	}

	#services11{
		grid-column-start: 1;
	    grid-column-end: 2;
	    padding: 50px;
	}

	#services11 > h1{
		font-size: 50px;
		color: white;
	}

	#services11 > p{
		font-size: 30px;
		color: #fc3468;
	}

	#services12{
		grid-column-start: 2;
	    grid-column-end: 3;
	    padding: 20px;
	    padding-top: 60px;
	}

	#Layer_1{
		fill: #fc3468;
	}

	li.maketype11{
		list-style-type: none;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 35px;
		display: flex;
		flex: 5;
		background-color: pink; 
		border-radius: 160px; 
		justify-content: space-between;
		position: relative;
	}

	.maketype111, .maketype211, .maketype311, .maketype411{
		width: 320px;
		height: 320px;
		border-radius: 50%;
		overflow: hidden;
		border: 10px solid #fc3468;
		z-index: 4;
	}

	.maketype112, .maketype212, .maketype312, .maketype412{
		
		height: 300px;
		font-size: 1.6vw;
		color: black;

	}

	.makephoto{
		height: 100%;
	    width: 100%;  
		object-fit: cover;

	}

	.maketype11 > p{
		color: white;
	}

	.maketype113, .maketype213, .maketype313, .maketype413{
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 3;

	}

	.maketype114, .maketype214, .maketype314, .maketype414 {
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 2;
	}

	.maketype115,.maketype215, .maketype315, .maketype415 {
		display: none;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		border: 10px solid #fc3468;
		overflow: hidden;
		position: absolute;
		z-index: 1;
	}


	.Drag1{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag1 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag1 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag1 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag1 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag1 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag2{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag2 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag2 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag2 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag2 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag2 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag3{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag3 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag3 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag3 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag3 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag3 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}

	.Drag4{
		background: black;
		border: 10px solid #fc3468;
		border-radius: 50%;
		box-sizing: border-box;
		height: 320px;
		width: 320px;
		position: relative;
		transition: 0.4s ease;
	}

	.Drag4 > div{
		background: #fff;
		width: 90px;
		height: 10px;
		margin: 10px;
		transition: 0.4s ease;
	}

	.Drag4 > div:first-child {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 25%;
	  bottom: 35%;
	}

	.Drag4 > div:nth-child(2) {
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 45%;
	  bottom: 35%;
	}

	.Drag4 > div:nth-child(3) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 25%;
	  bottom: 54%;
	}

	.Drag4 > div:nth-child(4) {
	  position: absolute;
	  transform: rotate(45deg);
	  left: 45%;
	  bottom: 54%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	#services1{
		grid-template-columns: 75% 25%;
	}
	#services11{
		padding: 10px;
	}

	#services11 > h1{
		font-size: 36px;
	}

	#services11 > p{
		font-size: 25px;;
	}


	#Layer_1{
		width: 20vw;
	}

	.maketype111, .maketype211, .maketype311, .maketype411 {
    width: 200px;
    height: 200px;
  }
	.maketype112, .maketype212, .maketype312, .maketype412 {
	    height: 200px;
	    font-size: 12px;
	    color: black;
	}
  .Drag1, .Drag2, .Drag3, .Drag4{
  	width: 200px;
  	height: 200px;
  }

  .Drag1 > div{
  	width: 55px;
  	height: 6px;
  }

  .Drag2 > div{
  	width: 55px;
  	height: 6px;
  }

  .Drag3 > div{
  	width: 55px;
  	height: 6px;
  }

  .Drag4 > div{
  	width: 55px;
  	height: 6px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#services11 > h1 {
	    font-size: 30px;
	}
	#services11 > p {
	    font-size: 25px;
	}
	.maketype111, .maketype211, .maketype311, .maketype411 {
    width: 170px;
    height: 170px;
  }
	.maketype112, .maketype212, .maketype312, .maketype412 {
	    height: 170px;
	    font-size: 12px;
	    color: black;
	}
  .Drag1, .Drag2, .Drag3, .Drag4{
  	width: 170px;
  	height: 170px;
  }

  .Drag1 > div{
  	width: 46px;
  	height: 6px;
  }

  .Drag2 > div{
  	width: 46px;
  	height: 6px;
  }

  .Drag3 > div{
  	width: 46px;
  	height: 6px;
  }

  .Drag4 > div{
  	width: 46px;
  	height: 6px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	#services1{
		grid-template-columns: 100%;
	  grid-template-rows: 50% 50%;
	}
	#services11{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		text-align: center;
	}
	#services12{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: center;
		padding-top: 20px;
	}

	#Layer_1 {
	    width: 40vw;
	}
	.maketype1{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	li.maketype11{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 280px 300px;
		justify-items: center;
		height: 450px;
		width: 280px;
		border-radius: 140px;
	}

	.maketype111, .maketype211, .maketype311, .maketype411 {
		  grid-row-start: 1;
		  grid-row-end: 2;
	    width: 280px;
	    height: 280px;
	}
	.maketype112, .maketype212, .maketype312, .maketype412 {
		  grid-row-start: 2;
		  grid-row-end: 3;
		  font-size:  15px;
		  text-align: center;
	}



	.maketype116, .maketype216, .maketype316, .maketype416{
		display:  none;
	}

}

@media only screen and (max-width: 450px) {
	#services1{
		margin-top: 80px;
		margin-left: 5px;
		margin-right:  5px;
		margin-bottom: 5px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 40% 60%;
	}
	#services11{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		padding: 18px;

	}

	#services11 > h1{
		font-size: 36px;
	}


	#services12{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		align-self: center;
		justify-self: center ;
	}
	#Layer_1{
		width: 60vw;
	}

	li.maketype11{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 280px 300px;
		justify-items: center;
		height: 450px;
		width: 280px;
		border-radius: 140px;
	}

	.maketype111, .maketype211, .maketype311, .maketype411 {
		  grid-row-start: 1;
		  grid-row-end: 2;
	    width: 280px;
	    height: 280px;
	}
	.maketype112, .maketype212, .maketype312, .maketype412 {
		  grid-row-start: 2;
		  grid-row-end: 3;
		  font-size:  15px;
		  text-align: center;
	}
	.maketype116, .maketype216, .maketype316, .maketype416{
		display:  none;
	}
}

@media only screen and (max-width: 400px){
   	#services1{
		margin-top: 50px;
		margin-left: 5px;
		margin-right:  5px;
		margin-bottom: 5px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 35% 65%;
	}	
}



/*
@media only screen and (min-width: 1200px) {...}

@media only screen and (max-width: 1200px) {...}


@media only screen and (max-width: 992px) {...}


@media only screen and (max-width: 768px) {...}


@media only screen and (max-width: 600px) {...}

@media only screen and (max-width: 450px) {}

*/





