{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <link href="{% static '/CSS/main_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/CSS/contact.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/CSS/contact.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="desktop">
        <ul id="left-d">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
        </ul>
        <ul id="logo-d">
            <li> <a href=""><img id="logoimg" src="{% static '/Pictures/new_logo.jpg' %}" alt="" /></a></li>
        </ul>
        <ul id="right-d">
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="mobile">
        <ul id="logo-m">
            <a id="logo" href=""><img src="{% static '/Pictures/new_logo.jpg' %}" alt=""></a>

            <button class="navbutton">☰</button>

        </ul>
        <ul id="left-m">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div id="call0">
    <div id="call1">
        <div id="call10">
            <div class="call101">
                <h1>Where Magic Happens</h1>
                <p>
                    We’d Love To Hear From You! Whether you
                    have a question about our services, academy
                    or anything else, Our team is ready to answer
                    all your questions.
                </p>
            </div>
            <div class="call101">
                <p>+91-9899322789</p>
                <p>info@kanikachanda.com</p>
                <p>24, Bougainvilla Marg, DLF Phase 2, Sector 25, Gurugram, Haryana 122002</p>
            </div>
        </div>
        <div id="call11">
            <img src="{% static '/Pictures/lara2.jpg' %}" alt="" class="cover1" >
        </div>
        <div id="call12">
            <ul id="call120">
                <li class="call1201"><p><span class="day">Monday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Tuesday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Wednesday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Thursday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Friday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Saturday:</span></p><p>06:00 AM – 10:00 PM</p></li>
                <li class="call1201"><p><span class="day">Sunday:</span></p><p>CLOSED</p></li>
            </ul>
        </div>
    </div>
</div>
<div id="call2">
    <div id="call20">
        <div id="call201">
            <h1>
                Send Message
            </h1>
        </div>
        <div id="call202">
            <form id="call2021">
                <div id="call20211">
                    <div>
                        <label for="name">Your Name*</label>
                    </div>
                    <div>
                        <input id="name">
                    </div>
                </div>
                <div  id="call20212">
                    <div>
                        <label for="email">Your Email*</label>
                    </div>
                    <div>
                        <input id="email">
                    </div>
                </div>
                <div  id="call20213">
                    <div>
                        <label for="phone">Your Phone*</label>
                    </div>
                    <div>
                        <input id="phone">
                    </div>
                </div>
                <div id="call20214">
                    <div>
                        <label for="city">Your City*</label>
                    </div>
                    <div>
                        <input id="city">
                    </div>
                </div>
                <div  id="call20215">
                    <div>
                        <label for="message">Your Message*</label>
                    </div>
                    <div>
                        <textarea id="message"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="map">
    <div id="map0">
        <h1>
            Locate Us
        </h1>
    </div>
    <div id="map1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1100.7243215145822!2d73.8563794421405!3d18.508463576885596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06d1f7ea39f%3A0x4d973341b52d2288!2s267%2C%20White%20House%20Rd%2C%20Sathe%20Colony%2C%20Shukrawar%20Peth%2C%20Pune%2C%20Maharashtra%20411002!5e0!3m2!1sen!2sin!4v1626152856408!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>
<div id="footer">
    <div id="footer1">
       <img src="{% static '/Pictures/new_logo.jpg' %}" alt="">
    </div>
    <div id="footer2">
        <div id="links">
            <div id="links1">
                <div id = "links11">
                    <h1>Links</h1>
                </div>
            </div>
            <ul id="links2">
                <li id="item-a">
                    <p>About</p>
                </li>
                <li id="item-b">
                    <p>Services</p>
                </li>
                <li id="item-c">
                    <p>blog</p>
                </li>
                <li id="item-d">
                    <p>Portfolio</p>
                </li>
                <li id="item-e">
                    <p>Contact</p>
                </li>
            </ul>
        </div>
        <div id="social">
            <h1 id="social1">Social</h1>
            <div id="social2">
                <a id="item-1">
                    <svg
                      id="svg1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 21.76 18"
                      height="24"
                      width="24"
                    >
                      <path
                        class="icon-part"
                        d="M-1080.21,554.12a9,9,0,0,1-3.22.53h0a4.44,4.44,0,0,0-3.3-1.48,4.47,4.47,0,0,0-4.47,4.47,4.42,4.42,0,0,0,.19,1.22h0a14.05,14.05,0,0,1-9.47-4.93,5,5,0,0,0,1.78,6l-2.36.11s-.37,2.63,3.65,3.64a6,6,0,0,1-3.18,1,7,7,0,0,0,5,2.32,6.68,6.68,0,0,1-6.34,2.24c-.6-.09,8.6,5,15.19-.89,4-3.54,4.5-8.79,4.56-10.59A4.49,4.49,0,0,0-1080.21,554.12Z"
                        transform="translate(1101.97 -553.17)"
                      ></path>
                    </svg>
                </a>
                <a id="item-2">
                    <svg
                      id="svg2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 19.5 19.5"
                      height="24"
                      width="24"
                    >
                      <path
                        class="icon-part"
                        d="M18.75,9.5H13.6c0,.08,0,.16,0,.25a4,4,0,0,1-8,0c0-.09,0-.17,0-.25H0v4.19A5.82,5.82,0,0,0,5.81,19.5h7.88a5.82,5.82,0,0,0,5.81-5.81V9.5Z"
                      ></path>
                      <path
                        class="icon-part"
                        d="M13.69,0H5.81A5.82,5.82,0,0,0,0,5.81V8H6a4,4,0,0,1,7.16,0H19.5V5.81A5.82,5.82,0,0,0,13.69,0Zm1.06,5.75a1,1,0,1,1,1-1A1,1,0,0,1,14.75,5.75Z"
                      ></path>
                      <path class="icon-part" d="M5.65,9.5h.1"></path>
                    </svg>
                </a>
                <a id="item-3">
                    <svg
                      id="svg3"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20.25 19.5"
                      height="24"
                      width="24"
                    >
                      <circle class="icon-part" cx="2.34" cy="2.34" r="2.34"></circle>
                      <rect
                        class="icon-part"
                        x="0.17"
                        y="6.36"
                        width="4.35"
                        height="13.14"
                      ></rect>
                      <path
                        class="icon-part"
                        d="M16.88,6.36a4.9,4.9,0,0,0-5.62,1.9V6.36H6.91V19.5h4.35V11.93a2.6,2.6,0,0,1,2.6-2.42c2.35,0,2,4.33,2,4.33V19.5h4.35V13.84S21,7.38,16.88,6.36Z"
                      ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
<!-- library link -->

<!-- library link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://use.fontawesome.com/2f5189959d.js"></script>
<script src="{% static 'Javascript/contact.js' %}"></script>


</html>