{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <link href="{% static '/CSS/main_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/CSS/portfolio.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="desktop">
        <ul id="left-d">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
        </ul>
        <ul id="logo-d">
            <li> <a href=""><img id="logoimg" src="{% static '/Pictures/new_logo.jpg' %}" alt="" /></a></li>
        </ul>
        <ul id="right-d">
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="mobile">
        <ul id="logo-m">
            <a id="logo" href=""><img src="{% static '/Pictures/new_logo.jpg' %}" alt=""></a>

            <button class="navbutton">☰</button>

        </ul>
        <ul id="left-m">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<div id="portf">
    <div id="portf0">
        <ul id="portf01">
            <li id="portf006">
                <div id="portf011">
                    <a href="/portfolio/engagement">
                    <img src="{% static '/Pictures/engagement-makeover4.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Engagement MakeOver</p>
            </li>
            <li id="portf007">
                <div id="portf012">
                    <a href="/portfolio/mehndi">
                    <img src="{% static '/Pictures/mehndi2.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Mehndi MakeOver</p>
            </li>
            <li id="portf008">
                <div id="portf013">
                    <a href="/portfolio/prewed">
                   <img src="{% static '/Pictures/cocktail-makeover2.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Prewed MakeOver</p>
            </li>
            <li id="portf009">
                <div id="portf014">
                    <a href="/portfolio/bridal">
                    <img src="{% static '/Pictures/bridal-makeover1.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> bridal MakeOver</p>
            </li>
        </ul>
    </div>
</div>
<div id="footer">
    <div id="footer1">
       <img src="{% static '/Pictures/new_logo.jpg' %}" alt="">
    </div>
    <div id="footer2">
        <div id="links">
            <div id="links1">
                <div id = "links11">
                    <h1>Links</h1>
                </div>
            </div>
            <ul id="links2">
                <li id="item-a">
                    <p>About</p>
                </li>
                <li id="item-b">
                    <p>Services</p>
                </li>
                <li id="item-c">
                    <p>blog</p>
                </li>
                <li id="item-d">
                    <p>Portfolio</p>
                </li>
                <li id="item-e">
                    <p>Contact</p>
                </li>
            </ul>
        </div>
        <div id="social">
            <h1 id="social1">Social</h1>
            <div id="social2">
                <a id="item-1">
                    <svg
                      id="svg1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 21.76 18"
                      height="24"
                      width="24"
                    >
                      <path
                        class="icon-part"
                        d="M-1080.21,554.12a9,9,0,0,1-3.22.53h0a4.44,4.44,0,0,0-3.3-1.48,4.47,4.47,0,0,0-4.47,4.47,4.42,4.42,0,0,0,.19,1.22h0a14.05,14.05,0,0,1-9.47-4.93,5,5,0,0,0,1.78,6l-2.36.11s-.37,2.63,3.65,3.64a6,6,0,0,1-3.18,1,7,7,0,0,0,5,2.32,6.68,6.68,0,0,1-6.34,2.24c-.6-.09,8.6,5,15.19-.89,4-3.54,4.5-8.79,4.56-10.59A4.49,4.49,0,0,0-1080.21,554.12Z"
                        transform="translate(1101.97 -553.17)"
                      ></path>
                    </svg>
                </a>
                <a id="item-2">
                    <svg
                      id="svg2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 19.5 19.5"
                      height="24"
                      width="24"
                    >
                      <path
                        class="icon-part"
                        d="M18.75,9.5H13.6c0,.08,0,.16,0,.25a4,4,0,0,1-8,0c0-.09,0-.17,0-.25H0v4.19A5.82,5.82,0,0,0,5.81,19.5h7.88a5.82,5.82,0,0,0,5.81-5.81V9.5Z"
                      ></path>
                      <path
                        class="icon-part"
                        d="M13.69,0H5.81A5.82,5.82,0,0,0,0,5.81V8H6a4,4,0,0,1,7.16,0H19.5V5.81A5.82,5.82,0,0,0,13.69,0Zm1.06,5.75a1,1,0,1,1,1-1A1,1,0,0,1,14.75,5.75Z"
                      ></path>
                      <path class="icon-part" d="M5.65,9.5h.1"></path>
                    </svg>
                </a>
                <a id="item-3">
                    <svg
                      id="svg3"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20.25 19.5"
                      height="24"
                      width="24"
                    >
                      <circle class="icon-part" cx="2.34" cy="2.34" r="2.34"></circle>
                      <rect
                        class="icon-part"
                        x="0.17"
                        y="6.36"
                        width="4.35"
                        height="13.14"
                      ></rect>
                      <path
                        class="icon-part"
                        d="M16.88,6.36a4.9,4.9,0,0,0-5.62,1.9V6.36H6.91V19.5h4.35V11.93a2.6,2.6,0,0,1,2.6-2.42c2.35,0,2,4.33,2,4.33V19.5h4.35V13.84S21,7.38,16.88,6.36Z"
                      ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<!--
<div id="portfolio">
    <div class="line">
        <img id="item1" src="{% static 'Portfolio 1.jpg' %}" alt="" class="cover">
        <img id="item2" src="{% static 'Portfolio 2.jpg' %}" alt="" class="cover">
        <img id="item3" src="{% static 'Portfolio 3.jpg' %}" alt="" class="cover">
        <img id="item4" src="{% static 'Portfolio 4.jpg' %}" alt="" class="cover">
        <img id="item5" src="{% static 'Portfolio 5.jpg' %}" alt="" class="cover">
        <img  id="item6" src="{% static 'Portfolio 6.jpg' %}" alt="" class="cover">
        <img  id="item7" src="{% static 'Portfolio 7.jpg' %}" alt="" class="cover">
        <img  id="item8" src="{% static 'Portfolio 8.jpg' %}" alt="" class="cover">
        <img  id="item9" src="{% static 'Portfolio 9.jpg' %}" alt="" class="cover">
        <img  id="item10" src="{% static 'Portfolio 10.jpg' %}" alt="" class="cover">
    </div>
    <div class="line">
        <img  id="item11" src="{% static 'Portfolio 11.jpg' %}" alt="" >
        <img  id="item12" src="{% static 'Portfolio 12.jpg' %}" alt="" >
        <img  id="item13" src="{% static 'Portfolio 13.jpg' %}" alt="" >
        <img  id="item14" src="{% static 'Portfolio 14.jpg' %}" alt="" >
        <img  id="item15" src="{% static 'Portfolio 15.jpg' %}" alt="" >
        <img  id="item16" src="{% static 'Portfolio 16.jpg' %}" alt="" >
        <img  id="item17" src="{% static 'Portfolio 17.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item18" src="{% static 'Portfolio 18.jpg' %}" alt="" >
        <img  id="item19" src="{% static 'Portfolio 19.jpg' %}" alt="" >
        <img  id="item20" src="{% static 'Portfolio 20.jpg' %}" alt="" >
        <img  id="item21" src="{% static 'Portfolio 21.jpg' %}" alt="" >
        <img  id="item22" src="{% static 'Portfolio 22.jpg' %}" alt="" >
        <img  id="item23" src="{% static 'Portfolio 23.jpg' %}" alt="" >
        <img  id="item24" src="{% static 'Portfolio 24.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item25" src="{% static 'Portfolio 25.jpg' %}" alt="" >
        <img  id="item26" src="{% static 'Portfolio 26.jpg' %}" alt="" >
        <img  id="item27" src="{% static 'Portfolio 27.jpg' %}" alt="" >
        <img  id="item28" src="{% static 'Portfolio 28.jpg' %}" alt="" >
        <img  id="item29" src="{% static 'Portfolio 29.jpg' %}" alt="" >
        <img  id="item30" src="{% static 'Portfolio 30.jpg' %}" alt="" >
        <img  id="item31" src="{% static 'Portfolio 31.jpg' %}" alt="" >
        <img  id="item32" src="{% static 'Portfolio 32.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item33" src="{% static 'Portfolio 33.jpg' %}" alt="" >
        <img  id="item34" src="{% static 'Portfolio 34.jpg' %}" alt="" >
        <img  id="item35" src="{% static 'Portfolio 35.jpg' %}" alt="" >
        <img  id="item36" src="{% static 'Portfolio 36.jpg' %}" alt="" >
        <img  id="item37" src="{% static 'Portfolio 37.jpg' %}" alt="" >
        <img  id="item38" src="{% static 'Portfolio 38.jpg' %}" alt="" >
        <img  id="item39" src="{% static 'Portfolio 39.jpg' %}" alt="" >
    </div>
</div>
-->
</body>

<!-- library link -->
<!-- library link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://use.fontawesome.com/2f5189959d.js"></script>
<script src="{% static 'Javascript/portfolio.js' %}"></script>


</html>