{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <link href="{% static '/CSS/main_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/CSS/portfolio.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="desktop">
        <ul id="left-d">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
        </ul>
        <ul id="logo-d">
            <li> <a href=""><img id="logoimg" src="{% static '/Pictures/new_logo.jpg' %}" alt="" /></a></li>
        </ul>
        <ul id="right-d">
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="mobile">
        <ul id="logo-m">
            <a id="logo" href=""><img src="{% static '/Pictures/new_logo.jpg' %}" alt=""></a>

            <button class="navbutton">☰</button>

        </ul>
        <ul id="left-m">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<div id="portf">
    <div id="portf0">
        <ul id="portf01">
            <li id="portf006">
                <div id="portf011">
                    <a href="/portfolio/engagement">
                    <img src="{% static '/Pictures/engagement-makeover4.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Engagement MakeOver</p>
            </li>
            <li id="portf007">
                <div id="portf012">
                    <a href="/portfolio/mehndi">
                    <img src="{% static '/Pictures/mehndi2.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Mehndi MakeOver</p>
            </li>
            <li id="portf008">
                <div id="portf013">
                    <a href="/portfolio/prewed">
                   <img src="{% static '/Pictures/cocktail-makeover2.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> Prewed MakeOver</p>
            </li>
            <li id="portf009">
                <div id="portf014">
                    <a href="/portfolio/bridal">
                    <img src="{% static '/Pictures/bridal-makeover1.jpg' %}" alt="" class="makephoto">
                    </a>
                </div>
                <p class="porttype"> bridal MakeOver</p>
            </li>
        </ul>
    </div>
</div>

<!--
<div id="portfolio">
    <div class="line">
        <img id="item1" src="{% static 'Portfolio 1.jpg' %}" alt="" class="cover">
        <img id="item2" src="{% static 'Portfolio 2.jpg' %}" alt="" class="cover">
        <img id="item3" src="{% static 'Portfolio 3.jpg' %}" alt="" class="cover">
        <img id="item4" src="{% static 'Portfolio 4.jpg' %}" alt="" class="cover">
        <img id="item5" src="{% static 'Portfolio 5.jpg' %}" alt="" class="cover">
        <img  id="item6" src="{% static 'Portfolio 6.jpg' %}" alt="" class="cover">
        <img  id="item7" src="{% static 'Portfolio 7.jpg' %}" alt="" class="cover">
        <img  id="item8" src="{% static 'Portfolio 8.jpg' %}" alt="" class="cover">
        <img  id="item9" src="{% static 'Portfolio 9.jpg' %}" alt="" class="cover">
        <img  id="item10" src="{% static 'Portfolio 10.jpg' %}" alt="" class="cover">
    </div>
    <div class="line">
        <img  id="item11" src="{% static 'Portfolio 11.jpg' %}" alt="" >
        <img  id="item12" src="{% static 'Portfolio 12.jpg' %}" alt="" >
        <img  id="item13" src="{% static 'Portfolio 13.jpg' %}" alt="" >
        <img  id="item14" src="{% static 'Portfolio 14.jpg' %}" alt="" >
        <img  id="item15" src="{% static 'Portfolio 15.jpg' %}" alt="" >
        <img  id="item16" src="{% static 'Portfolio 16.jpg' %}" alt="" >
        <img  id="item17" src="{% static 'Portfolio 17.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item18" src="{% static 'Portfolio 18.jpg' %}" alt="" >
        <img  id="item19" src="{% static 'Portfolio 19.jpg' %}" alt="" >
        <img  id="item20" src="{% static 'Portfolio 20.jpg' %}" alt="" >
        <img  id="item21" src="{% static 'Portfolio 21.jpg' %}" alt="" >
        <img  id="item22" src="{% static 'Portfolio 22.jpg' %}" alt="" >
        <img  id="item23" src="{% static 'Portfolio 23.jpg' %}" alt="" >
        <img  id="item24" src="{% static 'Portfolio 24.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item25" src="{% static 'Portfolio 25.jpg' %}" alt="" >
        <img  id="item26" src="{% static 'Portfolio 26.jpg' %}" alt="" >
        <img  id="item27" src="{% static 'Portfolio 27.jpg' %}" alt="" >
        <img  id="item28" src="{% static 'Portfolio 28.jpg' %}" alt="" >
        <img  id="item29" src="{% static 'Portfolio 29.jpg' %}" alt="" >
        <img  id="item30" src="{% static 'Portfolio 30.jpg' %}" alt="" >
        <img  id="item31" src="{% static 'Portfolio 31.jpg' %}" alt="" >
        <img  id="item32" src="{% static 'Portfolio 32.jpg' %}" alt="" >
    </div>
    <div class="line">
        <img  id="item33" src="{% static 'Portfolio 33.jpg' %}" alt="" >
        <img  id="item34" src="{% static 'Portfolio 34.jpg' %}" alt="" >
        <img  id="item35" src="{% static 'Portfolio 35.jpg' %}" alt="" >
        <img  id="item36" src="{% static 'Portfolio 36.jpg' %}" alt="" >
        <img  id="item37" src="{% static 'Portfolio 37.jpg' %}" alt="" >
        <img  id="item38" src="{% static 'Portfolio 38.jpg' %}" alt="" >
        <img  id="item39" src="{% static 'Portfolio 39.jpg' %}" alt="" >
    </div>
</div>
-->
</body>

<!-- library link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://use.fontawesome.com/2f5189959d.js"></script>


<!-- script below -->
<script type="text/javascript">
  /* only execute this script when the document is ready */
    $(document).ready(function(){
      /* function called when you click of the button */
      $("button").click(function(){

          /* this if else to change the text in the button */
          if($("button").text() == "☰"){
           $("button").text("🞬");
          }else{
            $("button").text("☰");
          }

        /* this function toggle the visibility of our "li" elements */
        $("li").toggle("slow");
      });
    });
</script>

</html>