{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'main_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'portfolio.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
    <nav class="desktop">
        <ul id="left-d">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
        </ul>
        <ul id="logo-d">
            <li> <a href=""><img id="logoimg" src="{% static 'new_logo.jpg' %}" alt="" /></a></li>
        </ul>
        <ul id="right-d">
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="mobile">
        <ul id="logo-m">
            <a id="logo" href=""><img src="{% static 'new_logo.jpg' %}" alt=""></a>

            <button class="navbutton">☰</button>

        </ul>
        <ul id="left-m">
            <li><a class="line" href="{% url 'home' %}">Home</a></li>
            <li><a class="line" href="/about">About Us</a></li>
            <li><a class="line" href="/services">Services</a></li>
            <li><a class="line" href="/blog">blog</a></li>
            <li><a class="line" href="/portfolio">Portfolio</a></li>
            <li><a class="line" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<div id="enga">
    <div id="enga0">
        <ul id="enga01">
            <li >
                <div id="enga011">
                    <img src="{% static 'prewed5.jpg' %}" alt="" class="makephoto">
                </div>
            </li>
            <li>
                <div id="enga012">
                    <img src="{% static 'prewed6.jpg' %}" alt="" class="makephoto">
                </div>
            </li>
            <li>
                <div id="enga013">
                    <img src="{% static 'prewed7.jpg' %}" alt="" class="makephoto">
                </div>
            </li>
            <li>
                <div id="enga014">
                    <img src="{% static 'prewed8.jpg' %}" alt="" class="makephoto">
                </div>
            </li>
            <li>
                <div id="enga016">
                    <img src="{% static 'prewed9.jpg' %}" alt="" class="makephoto">
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>